[user]
name = Aaron Hooper
email = aaron@fxdigital.uk
username = aaronhooper
	signingkey = B3EC4B4C8BBBBFEB89D21EF3BFB1B990E79801BF

[core]
editor = nvim

[rebase]
autoSquash = true
	updateRefs = true

[credential]
helper = store

[init]
defaultBranch = main

[pull]
ff = only
[push]
	autoSetupRemote = true
[commit]
	gpgsign = false
[maintenance]
	repo = /Users/aaronhooper/Code/britbox/britbox-fetch
[rerere]
	enabled = true
