[user]
name = Aaron Hooper
email = rnjckhpr@gmail.com
username = aaronhooper

[core]
editor = nvim

[rebase]
autoSquash = true

[credential]
helper = store

[init]
defaultBranch = main

[pull]
ff = only
