[user]
name = Aaron Hooper
email = aaron@fxdigital.uk
username = aaronhooper
	signingkey = B3EC4B4C8BBBBFEB89D21EF3BFB1B990E79801BF

[core]
editor = nvim

[rebase]
autoSquash = true
	updateRefs = true

[credential]
helper = store

[init]
defaultBranch = main

[pull]
ff = only
[push]
	autoSetupRemote = true
[commit]
	gpgsign = false
[maintenance]
	repo = /Users/aaronhooper/Code/britbox/britbox-fetch
[rerere]
	enabled = true
[fetch]
	prune = true
[merge]
	conflictStyle = diff3

[alias]
	lg = !git lg1
	lg1 = !git lg1-specific --all
	lg2 = !git lg2-specific --all
	lg3 = !git lg3-specific --all
	lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" \"origin/$1\" 2> /dev/null || git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
[diff]
	tool = nvimdiff
